
  <div class="col-md-4">
    <a href="#"><h2><%= product.name %></h2></a>
    <img><%= image_tag(product.image_url, class: "img-fluid")unless product.image_url.nil? %></img>
    <p><%= product.description %></p>
    <p><%= product.colour %></p>
    <p><%= product.price %></p>

    <div id="container-product">
      <%= link_to 'Show', product, class:"btn btn-info" %>
      <%= link_to 'Edit', edit_product_path(product), class:"btn btn-secondary"%>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
    </div>
  </div><!-- /col -->
