
  <div class="col-md-4">
    <div class="item1">
      <h2><%= product.name %></h2>
      <% logger.debug "Product name is #{product.name}"%>
    </div>
    <div class="item2"><%= image_tag(product.image_url, class: "img-fluid")unless product.image_url.nil? %></div>
    <div class="description"><%= product.description %></div>
    <p><%= product.colour %></p>
    <p><%= product.price %></p>

    <div id="container-product">
      <%= link_to 'Show', product, class:"btn btn-info" %>
      <%= link_to 'Edit', edit_product_path(product), class:"btn btn-secondary"%>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
    </div>
  </div><!-- /col -->
