

<h1>New Product</h1>

<p id="notice"><%= notice %></p>

<div class="container-show">
  <div class="row">
    <div class="col-md-6 show-img">
      <%= image_tag(@product.image_url, class: "img-responsive", width: '100%') %>
    </div>

    <div class="col-md-6 description">
      <p><strong>Name:</strong>
      <%= @product.name %>
     </p>
     <p><i class="fas fa-info-circle"></i>
        <%= @product.description %>
     </p>

      <p><strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <p><i class="fas fa-dollar-sign"></i>
        <%= @product.price %>
      </p>
      <p>Average Rating:
       <%= @product.average_rating_comment %>
       </p>
    </div>
  </div>
</div>

<div class="container-comments">
  <div class="row">
    <div class="col-md-12">

      <%= render 'new_comment' %>
      <%= render 'comments' %>

      <span class="rating" data-score=<%= @comment_rating %>></span>

      <p><strong>Best rating:</strong>
      <%= @product.highest_rating_comment.rating %></p>

      <p><strong>Worst rating:</strong>
      <%= @product.lowest_rating_comment.rating %></p>

    </div>
  </div>
</div>

<%= will_paginate @comments, previous_label: "Newer", next_label: "Older", inner_window: 1, outer_window: 0 %>

<div class="links">
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
